.habit-page {
  padding: 20rpx;

  .btn-box {
    display: flex;
    justify-content: space-between;
  }

  .summary-money {
    display: flex;
    justify-content: space-around;
    margin: 30rpx auto 20rpx;
    background: Mediumpurple;
    border-radius: 10rpx;
    .item {
      text-align: center;
      padding: 20rpx;
      .total {
        font-size: 36rpx;
        font-weight: 500;
        color: #FFF;
      }
      .desc {
        display: flex;
        align-items: center;
        font-size: 22rpx;
        color: rgba(255, 255, 255, .6);

        .coin {
          height: 35rpx;
          width: 35rpx;
        }
      }
    }
  }

  .habits-container {
    &.view-scroll-y {
      max-height: 88vh;
    }

    .habits {
      .status-title {
        font-size: 26rpx;
        color: #666;
      }
    }

    .habit-list {
      margin: 25rpx auto;

      > view {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rpx 20rpx 10rpx;
        margin: 15rpx 0;
        color: #FFF;
        border-radius: 10rpx;

        .habit-info {
          display: inline-flex;
          flex-direction: column;

          .name {
            margin: 1px 0;
            font-size: 32rpx;
          }

          .score {
            margin: 1px 0;
            font-size: 22rpx;
            color: rgba(255,255,255,.7);
          }
        }

        .bg-num {
          font-size: 60px;
          position: absolute;
          color: rgba(255,255,255,.3);
          top: 0rpx;
          left: 45%;
          text {
            font-size: 18rpx;
            margin-left: 3rpx;
            color: rgba(255,255,255, .5);
          }
        }
      }
    }
  }
}
