.habit-page {
  padding: 20rpx;

  .add-habit-btn {
    position: fixed;
    bottom: 60rpx;
    right: 30rpx;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: Mediumpurple;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,.2);
    border-radius: 100%;
    width: 80rpx;
    height: 80rpx;
  }

  .summary-money {
    display: flex;
    justify-content: space-around;
    margin: 0rpx auto 20rpx;
    background: Mediumpurple;
    border-radius: 10rpx;
    .item {
      text-align: center;
      padding: 20rpx;
      .total {
        font-size: 36rpx;
        font-weight: 500;
        color: #FFF;
      }
      .desc {
        display: flex;
        align-items: center;
        font-size: 22rpx;
        color: rgba(255, 255, 255, .6);

        .coin {
          height: 35rpx;
          width: 35rpx;
        }
      }
    }
  }

  .habits-container {
    &.view-scroll-y {
      max-height: 88vh;
    }

    .habits {
      .status-title {
        font-size: 26rpx;
        color: #666;
      }
    }

    .habit-list {
      margin: 25rpx auto;

      > view {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rpx 20rpx 10rpx;
        margin: 15rpx 0;
        color: #FFF;
        border-radius: 10rpx;

        .habit-info {
          display: inline-flex;
          flex-direction: column;

          .name {
            margin: 1px 0;
            font-size: 32rpx;
          }

          .score {
            margin: 1px 0;
            font-size: 22rpx;
            color: rgba(255,255,255,.7);
          }
        }

        .bg-num {
          font-size: 60px;
          position: absolute;
          color: rgba(255,255,255,.3);
          top: 0rpx;
          left: 45%;
          text {
            font-size: 18rpx;
            margin-left: 3rpx;
            color: rgba(255,255,255, .5);
          }
        }
      }
    }
  }

  .form-edit-habit {
    padding: 0;
    .habit-name {
      .at-input {
        padding: 15rpx 0;
      }

      .at-input__title {
        width: 130rpx;
      }

      label {
        font-size: 28rpx;
      }
    }

    .habit-level {
      display: flex;
      padding: 20rpx 0;
      position: relative;

      .label {
        margin: 0 30rpx 0 32rpx;
        font-size: 28rpx;
      }

      .desc {
        font-size: 22rpx;
      }

      &:after {
        content: '';
        position: absolute;
        transform-origin: center;
        box-sizing: border-box;
        pointer-events: none;
        top: -50%;
        left: -50%;
        right: -72%;
        bottom: -50%;
        border: 0 solid #d6e4ef;
        transform: scale(0.5);
        border-bottom-width: 1PX;
      }
    }

    .habit-date {
      display: flex;
      padding: 20rpx 0;

      .label {
        margin: 0 60rpx 0 32rpx;
        font-size: 28rpx;
        min-width: 60rpx;
      }
      .checkbox-date {
        display: flex;
        font-size: 20rpx;

        .checkbox-item {
          background: Mediumpurple;
          color: #FFF;
          width: 20rpx;
          padding: 6rpx 8rpx;
          text-align: center;
          margin-right: 16rpx;
          border-radius: 2rpx;
        }
      }
    }
  }
}
